.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.filterProjects {
  display: flex;
  justify-content: center;
  margin: -10px 0 35px 0;

  .filterProjectInput {
    border: 1px solid #d1c4b5;
    height: 32px;
    width: 260px;
    padding: 20px;

    &:focus {
      outline: none;
      border: 1px solid #d1c4b5;
    }
  }
}

.card {
  overflow: hidden;
  text-align: center;
  border-radius: 15px !important;
  position: relative;
  width: 360px;
  margin-bottom: 1.5rem;
  margin-left: 1.5rem;
  padding-bottom: 10px;
  background: #f8f2eb !important;
  color: rgb(200, 59, 80) !important;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    transform: scale(1.025);
  }

  .card-content {
    padding: 0;
    margin: 18px 5px 0 5px;

    .title {
      margin: 10px 0;
      font-size: 16px;
    }

    .description {
      color: rgb(70, 15, 15);
      font-size: 12px;
      font-family: "Montserrat";
    }
  }

  .cardActions {
    margin: 0;
  }
}

.project-page {
  height: 100vh;
  padding: 25px;
  background: rgb(31, 25, 25);

  .project-images-container {
    padding-bottom: 20px;
  }

  .project-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 50px;

    h1 {
      color:rgb(200, 59, 80)
    }

    p {
      color: #fff;
      line-height: 32px;
      text-justify: justify;
    }

    .project-links {
      display: flex;
      justify-content: center;
      margin-top: 25px;
      a {
        margin: 10px;
      }
    }
  }


}

.dnone {
  display: none;
}
