.sectionContainer {
  min-height: 1020px;
  width: 100vw;
  padding: 25px 50px;
  overflow: scroll;

  .sectionTitle {
    text-align: left;
    font-size: 42px;
    font-family: "Orbitron", "Montserrat";
    font-weight: bold;
    margin: 32px 0;
  }
}

.sectionDark {
  background: rgb(39, 34, 34);
  .sectionTitle {
    color: #b50e3b;
  }
}

.sectionLight {
  background: rgb(230, 227, 228);

  .sectionTitle {
    color: #b50e3b;
  }
}
