.contact {
  display: flex;
  flex-direction: column;
  padding: 40px 0;

  .contact-info {
    align-self: center;
    ul {
      li {
        display: inline;
        margin: 0 50px;
        color: rgb(128, 10, 10);

        a {
          color: rgb(128, 10, 10);
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .contact {
    .contact-info {
      ul li {
        display: flex;
        justify-content: center;
        line-height: 40px;
      }
    }
  }
}
