* {
    margin: 0;
    padding: 0;
}

.fh {
    display: flex;
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    min-height: 360px !important;
}

.gradient {
    background: rgb(18, 17, 36);
}



/* Scrollbar */

::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-track {
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    background: #735a3c;
    border-radius: 1;
}

::-webkit-scrollbar-thumb:hover {
    background: #cc1a1a;
}